body {
    background-color: #EFF1FE;
    font-family: sans-serif;
    text-align: center;
}

ul {
  text-align: center;
  list-style: none;
}

p{
  font-size: 2em;
  font-weight: bold;
}

li{
  font-size: 1.8em;
}

table{
  text-align: center;
  margin: auto;
  width: 40%;

}

h1{
    font-size: 4em;
    font-weight: bold;
}