<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Rodada</title>
</head>
<body>
    <h1>Cadastro de Rodada</h1>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a><br/>
        <a href="cadastro">Cadastro de Equipes</a><br/>
        <a href="cadastro_rodada"> Cadastro de Rodada</a><br/>
        <a href="visualizar_clubes.html"> Visualizar Clubes Cadastrados</a><br/>
    </p>
    <br/>
    <br/>
    <br/>
    <form action="registrar_partida" method="POST">
        <label>Mandante:</label>
        <input type="text" name="mandante" maxlength="45"/><br/>
        <br/>
        <label>Visitante:</label>
        <input type="text" name="visitante" maxlength="45"/><br/>
        <br/>
        <label>Estádio:</label>
        <input type="text" name="estadio" maxlength="45"/><br/>
        <br/>
        <label>Placar:</label>
        <input type="text" name="placar" maxlength="5"/>
        <br/>
        <br/>
        <input type="submit" value="Salvar"/>
    </form>
</body>
</html>