<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Equipes</title>
</head>
<body>
    <h1>Cadastro de Equipes</h1>
    <a href="palmeiras.html">Palmeiras</a><br/>
    <a href="liverpool.html">Liverpool</a><br/>
    <a href="milan.html">Milan</a><br/>
    <a href="paysandu.html">Paysandu</a><br/>
    <a href="portuguesa.html">Portuguesa</a><br/>
    <a href="chelsea.html">Chelsea</a><br/>
    <a href="index.html">Resultados</a><br/>
    <a href="cadastro">Cadastro de Equipes</a><br/>
    <br/>
    <br/>
    <br/>
    <form>
        <label>Nome:</label>
        <input type="text" name="nome"/>
        <label>Cores:</label>
        <input type="text" name="cores"/>
        <label>Estádio:</label>
        <input type="text" name="estadio"/><br/>
        <br/>
        <input type="submit" value="Salvar"/>
    </form>
</body>
</html>