<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Equipes</title>
</head>
<body>
    <h1>Cadastro de Equipes</h1>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a><br/>
        <a href="cadastro">Cadastro de Equipes</a><br/>
        <a href="cadastro_rodada">Cadastro de Rodada</a>
    </p>
    <br/>
    <br/>
    <br/>
    <form action="registrar" method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" maxlength="45"/>
        <label>Cores:</label>
        <input type="text" name="cores" maxlength="45"/>
        <label>Estádio:</label>
        <input type="text" name="estadio" maxlength="45"/><br/>
        <br/>
        <input type="submit" value="Salvar"/>
    </form>
</body>
</html>