<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chelsea</h1><br/>
    <p>Time Titular</p>
    <ul type='square'>
        <li>Mendy</li>
        <li>James</li>
        <li>Kurt Zouma</li>
        <li>Thiago Silva</li>
        <li>Ben Chilwell</li>
        <li>Kanté</li>
        <li>Jorginho</li>
        <li>Mount</li>
        <li>Zyiech</li>
        <li>Abraham</li>
        <li>Timo Werner</li>
    </ul><br/>
    <p>Técnico</p>
    <ul type="square">
        <li>Frank Lampard</li>
    </ul><br/>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a>
    </p>
</body>
</html>