<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeonato</title>
</head>
<body>
    <a href="palmeiras.html">Palmeiras</a><br/>
    <a href="liverpool.html">Liverpool</a><br/>
    <a href="milan.html">Milan</a><br/>
    <a href="paysandu.html">Paysandu</a><br/>
    <a href="portuguesa.html">Portuguesa</a><br/>
    <a href="chelsea.html">Chelsea</a><br/>
    <a href="index.html">Resultados</a><br/>
    <p></p><br/>
    <h1>Resultados da Rodada</h1><br/>
    <table border="2"><!--Tag de Tabela-->
        <tr><!--Tag de Linha-->
            <!--<td> é a tag de coluna normal-->
            <th>Mandante</th><!--Tag de Coluna em negrito-->
            <th>Placar</th>
            <th>Visitante</th>
        </tr>
        <tr>
            <td>Palmeiras</td>
            <td>2x0</td>
            <td>Chelsea</td>
        </tr>
        <tr>
            <td>Portuguesa</td>
            <td>0x3</td>
            <td>Liverpool</td>
        </tr>
        <tr>
            <td>Milan</td>
            <td>4x2</td>
            <td>Paysandu</td>
        </tr>
    </table>
</body>
</html>