<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <h1>Lista de Times</h1>
    <hr>
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Cores</td>
            <td>Estádio</td>
        </tr>
        <tr>
        {% for equipes in times %}
        <td>{{ equipes._id}}</td>
        <td>{{ equipes.nome}}</td>
        <td>{{ equipes.cores}}</td>
        <td>{{ equipes.estadio}}</td>
        </tr>
        {% endfor %}

    </table>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a><br/>
        <a href="cadastro">Cadastro de Equipes</a><br/>
        <a href="cadastro_rodada">Cadastro de Rodada</a><br/>
        <a href="lista">Lista de Times cadastrados no Banco de Dados</a><br/>
    </p>
</body>
</html>