<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liverpool</title>
</head>
<body>
    <h1>Liverpool</h1><br/>
    <p>Time Titular</p>
    <ul type='square'>
        <li>Alisson</li>
        <li>Alexander Arnold</li>
        <li>Joe Gomez</li>
        <li>Van Dijk</li>
        <li>Robertson</li>
        <li>Fabinho</li>
        <li>Wijnaldum</li>
        <li>Jordan Henderson</li>
        <li>Mo Salah</li>
        <li>Diego Jota</li>
        <li>Sadio Mané</li>
    </ul><br/>
    <p>Técnico</p>
    <ul type="square">
        <li>Jurgen Klopp</li>
    </ul><br/>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a><br/>
        <a href="cadastro">Cadastro de Equipes</a><br/>
        <a href="cadastro_rodada">Cadastro de Rodada</a>
    </p>
</body>
</html>