<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milan</title>
</head>
<body>
    <h1>Milan</h1><br/>
    <p>Time Titular</p>
    <ul type='square'>
        <li>Dounarumma</li>
        <li>Dalot</li>
        <li>Romagnoli</li>
        <li>S. Kjaer</li>
        <li>Téo Hernandez</li>
        <li>Kessié</li>
        <li>Tonalli</li>
        <li>Castillejo</li>
        <li>Diaz</li>
        <li>Krunic</li>
        <li>Zlatan Ibrahimovic</li>
    </ul><br/>
    <p>Técnico</p>
    <ul type="square">
        <li>Stefano Pioli</li>
    </ul><br/>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a><br/>
        <a href="cadastro">Cadastro de Equipes</a><br/>
        <a href="cadastro_rodada">Cadastro de Rodada</a>
    </p>
    
</body>
</html>