<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paysandu</title>
</head>
<body>
    <img id="paysandu" src="../static/img/paysandu.png"/>
    <h1>Paysandu</h1><br/>
    <p>Time Titular:</p>
    <ul type='square'>
        <li>André</li>
        <li>Matheus Lopes</li>
        <li>Yan</li>
        <li>George</li>
        <li>Vinicius</li>
        <li>Willyam</li>
        <li>Flávio</li>
        <li>Victor Diniz</li>
        <li>Alan</li>
        <li>Marcos</li>
        <li>Debu</li>
    </ul><br/>
    <p>Técnico:</p>
    <ul type="square">
        <li>Aylton Costa</li>
    </ul><br/>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a><br/>
        <a href="cadastro">Cadastro de Equipes</a><br/>
        <a href="cadastro_rodada">Cadastro de Rodada</a><br/>
    </p>
</body>
</html>