<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portuguesa</title>
</head>
<body>
    <img id="portuguesa" src="../static/img/portuguesa.png"/>
    <h1>Portuguesa</h1><br/>
    <p>Time Titular</p>
    <ul type='square'>
        <li>Thomas</li>
        <li>Jeferson</li>
        <li>Diego</li>
        <li>Sacomam</li>
        <li>Raphael</li>
        <li>Caíque</li>
        <li>Raphael Toledo</li>
        <li>Raphael Luz</li>
        <li>Geovani</li>
        <li>Adilson Bahia</li>
        <li>Maikinho</li>
    </ul><br/>
    <p>Técnico</p>
    <ul type="square">
        <li>Fernando Marchiori</li>
    </ul><br/>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a><br/>
        <a href="cadastro">Cadastro de Equipes</a><br/>
        <a href="cadastro_rodada">Cadastro de Rodada</a>
    </p>
</body>
</html>