<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeonato</title>
</head>
<body>
    <p>
        <a href="palmeiras.html">Palmeiras</a><br/>
        <a href="liverpool.html">Liverpool</a><br/>
        <a href="milan.html">Milan</a><br/>
        <a href="paysandu.html">Paysandu</a><br/>
        <a href="portuguesa.html">Portuguesa</a><br/>
        <a href="chelsea.html">Chelsea</a><br/>
        <a href="index.html">Resultados</a><br/>
        <a href="cadastro">Cadastro de Equipes</a><br/>
        <a href="cadastro_rodada">Cadastro de Rodada</a>
        <a href="visualizar_clubes.html"> Visualizar Clubes Cadastrados</a>
    </p>
    <p></p><br/>
</body>
</html>